/*this is my external CSS file*/
        h1{
            color: teal ;       }
             p{
                color: brown ;
            } 
            h2{
                color: red ;
            }
            p2{
                color: goldenrod ;
            }
            h3{
                color: blue ;
            }
            p3{
                color: skyblue ;
            }